{% extends 'inventory/base.html' %}
{% block title %} Item Details {% endblock %}
{% block body %}


<h2>{{ item.make_and_model }}</h2>

<ul>
  <li>Label: {{ item.label }}</li>
  <li>Notes: {{ item.notes }}</li>
  <li>Checked out? {{ item.checked_out }}</li>
     {% for loaner in item.loaner_set.all %}
    <li>User:<a href = "{% url 'inventory:loaner-add' loaner.net_id %}"> {{ loaner.net_id }}</a></li>
    {% endfor %}
</ul>


 <form action = "{% url 'inventory:loaner-add' %}" method = 'post' style = "display: inline;">
         {% csrf_token %}
         <p>Add Loaner for this Item<p>

         <button type = "submit" class = "btn btn-default btn-sm">
           <span class = "glyphicon glyphicon-plus"></span>
         </button>
       </form>

{%  endblock %}