{% extends 'inventory/base.html' %}
{% block title %} Documentation {% endblock %}

{% block body %}

<div class="container-fluid">
	<h1>Biology IT Inventory Documentation</h1>
 <p>Biology IT Inventory is meant to a simple and visual way to keep track of current IT helpdesk inventory of loaner equipment. Using it properly will allow for an efficient way to check if a particular item is available without searching for it when people come to the helpdesk, and to also be in the know about which user has which item and how to get into contact with them. It is meant as a simple side assistant to our main ServiceNow CRM, which is usually inundated with other tickets. By using this application, we can know about loaner inventory in one place. 

The primary functions for the application are intuitive- you can add a new item by knowing its details, specifically its label number (important to label all loaner equipment!), its make and model, any particular notes you may have for an item, and whether or not it's checked out. You can then add a user by just their netID, and assigning them to the item that they are currently checking out. 


Here's some information on the simple REST API functionality this application can also provide, which is in essence responding to queries on in-stock items and checked out items. 


 	<ul>
 		<li>The request URL for all in stock items is simply: http://bioinventory.herokuapp.com/in-stock/</li>
 		<li>The request URL for all out of stock/checked out items is accordingly: http://bioinventory.herokuapp.com/checked-out/</li>
 	</ul>

To get this information in json format, simply add '?format=json' to the end of the above request URLs. 

</p>

</div>



{%  endblock %}