{% extends 'inventory/base.html' %}
{% block body %}
         <h1>In Stock Equipment</h1>

        {% for item in items %}

       <div class = 'col-sm-4 col-lg-2'>
            <a href =  "{% url 'inventory:detail' item.id %}" class = 'names'>{{ item.make_and_model }}</a>
            <ul>
		    <li>{{ item.label }}</li>
		    <li>Checked Out:  {{ item.checked_out }}</li>
             {% for loaner in item.loaner_set.all %}
    <li>Current User:<a href = "{% url 'inventory:laoner-detail' loaner.net_id %}"> {{ loaner.net_id }}</a></li>
    {% endfor %}

		</ul>
		


      <form action = "{% url 'inventory:item-update' item.id %}" method = 'post' style = "display: inline;">
      {% csrf_token %}
      <input type = "hidden" name = "item_id" value = "{{item.id}}"/>
      <button type = "submit" class = "btn btn-default btn-sm">
        <span class = "glyphicon glyphicon-edit"></span>
      </button>
    </form>

            <form action = "{% url 'inventory:item-delete' item.id %}" method = 'post' style = "display: inline;">
        {% csrf_token %}
        <input type = "hidden" name = "item_id" value = "{{item.id}}"/>
        <button type = "submit" class = "btn btn-default btn-sm">
          <span class = "glyphicon glyphicon-trash"></span>
        </button>
      </form>

       </div>
       {% endfor %}
      {%  endblock %}