{% extends 'inventory/base.html' %}
{% block body %}

<h2>Loaner Equipment</h2>

        {% for item in items %}
{#        listview stores everything in object_list, which we renamed to items.#}
{#        <div class = 'col-sm-4 col-lg-2'>#}

            <a href = "#">{{ item.make_and_model }}</a>
            <ul>
		    <li>{{ item.label }}</li>
		    <li>{{ item.checked_out }}</li>
		</ul>
        <form action = "#" method = 'post' style = "display: inline;">
        {% csrf_token %}
        <input type = "hidden" name = "item_id" value = "{{item.id}}"/>
        <button type = "submit" class = "btn btn-default btn-sm">
          <span class = "glyphicon glyphicon-trash"></span>
        </button>
      </form>

      <form action = "#" method = 'post' style = "display: inline;">
      {% csrf_token %}
      <input type = "hidden" name = "item_id" value = "{{item.id}}"/>
      <button type = "submit" class = "btn btn-default btn-sm">
        <span class = "glyphicon glyphicon-edit"></span>
      </button>
    </form>
    
{#        </div>#}



        {% endfor %}


{%  endblock %}