/*style.css*/

body { background: #ECECEA;
		font-family: 'Raleway', serif;
		padding-left: 15px;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Raleway', serif;
    font-size: 20px;
}

